<%= form_for [:admin, attachment], html: { role: "form", class: "center-block" } do |f| %>

  <% unless flash.empty? %>
    <%= render_flash flash %>
  <% end %>

  <div class="form-group">
    <%= f.label :file_key, "文件名" %>
    <%= f.text_field :file_key, class: "form-control" %>
  </div>

  <% if attachment.new_record? %>
    <div class="form-group">
      <%= f.label :file, "选择文件" %>
      <%= f.file_field :file %>
    </div>
  <% end %>

  <% unless attachment.new_record? %>
    <div class="form-group">
      <label for="">地址</label>
      <p><%= link_to attachment.to_url, attachment.to_url %></p>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.submit attachment.new_record? ? "上传" : "更新", class: "btn btn-primary pull-right" %>
  </div>

<% end %>
